/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 #player {
  animation: fadein 3s;
}

@keyframes fadein {
    0%, 30% { opacity: 0; }
    100%   { opacity: 1; }
}

 #allapotfelmeres .hidden {
   display:none;
 }

 #allapotfelmeres-form label {
   background-color: #69c6b7;
   border-color: #69c6b7;
   padding: 5px;
   line-height: 3;
 }

 #allapotfelmeres-form label.btn-primary {
  border-radius: 5px 0px 0px 5px;
 }

 #allapotfelmeres-form .form-group input[type="checkbox"],
 #allapotfelmeres-form .form-group input[type="radio"] {
   display: none;
 }
 #allapotfelmeres-form .form-group input[type="checkbox"] + .btn-group {
   white-space: nowrap;
 }
 #allapotfelmeres-form .form-group input[type="checkbox"] + .btn-group > label span,
 #allapotfelmeres-form .form-group input[type="radio"] + .btn-group > label span {
   width: 20px;
   color: #d6ede5;
 }
 #allapotfelmeres-form .form-group input[type="checkbox"] + .btn-group > label span:first-child,
 #allapotfelmeres-form .form-group input[type="radio"] + .btn-group > label span:first-child {
   display: none;
 }
 #allapotfelmeres-form .form-group input[type="checkbox"] + .btn-group > label span:last-child,
 #allapotfelmeres-form .form-group input[type="radio"] + .btn-group > label span:last-child {
   display: inline-block;
 }
 #allapotfelmeres-form .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child,
 #allapotfelmeres-form .form-group input[type="radio"]:checked + .btn-group > label span:first-child {
   display: inline-block;
 }
 #allapotfelmeres-form .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child,
 #allapotfelmeres-form .form-group input[type="radio"]:checked + .btn-group > label span:last-child {
   display: none;
 }